body 
{
    background-color: lightblue;
}
p.text
{
	

}

img.imageOfMe
{
text-align:center;
}

.table
{
	border: 1px solid black;
	text-align:center;
	
}
.tableNum
{
	border: 1px solid black;
	text-align:center;
}